/* フッター */

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 500px;
    color: rgb(66, 1, 1);

    .footer-menu--nav {
        position: absolute;
        top: 5%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
        .footer-menu--parts {
            .footer-menu--list {
                padding: 10px 0;
                text-align: center;
                line-height: 50px;
                a {
                    cursor: pointer;
                    font-size: 30px;
                    color: antiquewhite;
                }
            }
        }
    }

    .footer-sns {
        z-index: 1;
        position: absolute;
        bottom: 30px;
        .footer-sns--list {
            margin-left: 30px;
            img {
                width: 40px;
            }
        }
    }
    @media screen and (min-width: 850px) {
        .footer-menu--nav {
            top: 10%;
            left: 10%;
            .footer-menu--parts {
                .footer-menu--list {
                    text-align: left;
                    margin-left: 20px;
                    padding: 0;
                    a {
                        cursor: pointer;
                        font-size: 22px;
                        color: antiquewhite;
                        &:hover {
                            color: rgb(172, 113, 37);
                        }
                        &:focus {
                            color: rgb(172, 113, 37);
                        }
                    }
                }
            }
        }

        .footer-sns {
            z-index: 1;
            position: absolute;
            bottom: 30px;
            .footer-sns--list {
                margin-left: 30px;
                img {
                    width: 40px;
                }
            }
        }
    }
}
