@charset "UTF-8";
#news .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#news .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 280px;
  width: 300px;
  background-color: burlywood;
  border-radius: 10px;
  -webkit-box-shadow: 0rem 0 1rem rgba(0, 0, 0, 0.829);
          box-shadow: 0rem 0 1rem rgba(0, 0, 0, 0.829);
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}

#news .card01 {
  background: url(../img/cake1.jpg) center center/cover;
}

#news .card:hover {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

#news .card--title {
  color: white;
  width: 80%;
  font-weight: 300;
  position: absolute;
  left: 25px;
  top: 5px;
}

#news .bar {
  position: absolute;
  top: 50px;
  left: 25px;
  height: 5px;
  width: 80%;
}

#news .emptybar {
  background-color: #2e3033;
  width: 100%;
  height: 100%;
}

#news .filledbar {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  background: #009ad9;
  background: -webkit-gradient(linear, left top, right top, from(#691803), color-stop(65%, #963700), to(#a77a00));
  background: linear-gradient(90deg, #691803 0%, #963700 65%, #a77a00 100%);
  -webkit-transition: 0.6s ease-out;
  transition: 0.6s ease-out;
}

#news .card:hover .filledbar {
  width: 240px;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

#news .card--text {
  font-family: 'Kiwi Maru', serif;
  width: 95%;
  position: absolute;
  bottom: -230px;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
}

body {
  margin: 0;
  padding: 0;
  background-color: antiquewhite;
  font-family: "Permanent Marker", cursive;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: azure;
}

/* ハンバーガーメニュー */
.hamburger {
  display: block;
  position: fixed;
  z-index: 3;
  right: 13px;
  top: 12px;
  width: 42px;
  height: 42px;
  cursor: pointer;
  text-align: center;
}

.hamburger span {
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 6px;
  background: #571010;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.hamburger span:nth-child(1) {
  top: 10px;
}

.hamburger span:nth-child(2) {
  top: 20px;
}

.hamburger span:nth-child(3) {
  top: 30px;
}

/* ナビ開いてる時のボタン */
.hamburger.active span:nth-child(1) {
  top: 16px;
  left: 6px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.hamburger.active span:nth-child(2), .hamburger.active span:nth-child(3) {
  top: 16px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.sp-menu--list {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  color: #000;
  background: #fff;
  text-align: center;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  width: 100%;
}

.sp-menu--list .sp-menu--parts {
  background: burlywood;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.sp-menu--list .sp-menu--parts .sp-menu--title {
  padding: 0;
  width: 100%;
  border-bottom: 1px solid #fff;
}

.sp-menu--list .sp-menu--parts .sp-menu--title:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.sp-menu--list .sp-menu--parts .sp-menu--title:hover {
  background: #ffd49c;
}

.sp-menu--list .sp-menu--parts .sp-menu--title a {
  display: block;
  color: #571010;
  padding: 1em 0;
  text-decoration: none;
}

.sp-menu--list.active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.pc-menu {
  display: none;
}

.pc-menu--main_menu {
  background-color: burlywood;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px;
}

.pc-menu--main_menu li {
  position: relative;
  margin: 0 10px;
}

.pc-menu--sub_menu {
  display: none;
  position: absolute;
}

.pc-menu--sub_menu li {
  display: block;
}

.container {
  margin-bottom: 50px;
}

/* アコーディオンメニュー */
/* メイン */
#main {
  background: url(img/cheers.jpg) center center/cover;
  height: 100vh;
  position: relative;
}

#main .main-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: white;
  opacity: 0;
  font-size: 2em;
  overflow: hidden;
  text-align: center;
}

#main .appear {
  opacity: 1;
}

#main .chars {
  display: inline-block;
  -webkit-animation: animate-chars 0.5s 1 normal both;
          animation: animate-chars 0.5s 1 normal both;
}

#main .chars:nth-child(1) {
  -webkit-animation-delay: 0.04s;
          animation-delay: 0.04s;
}

#main .chars:nth-child(2) {
  -webkit-animation-delay: 0.08s;
          animation-delay: 0.08s;
}

#main .chars:nth-child(3) {
  -webkit-animation-delay: 0.12s;
          animation-delay: 0.12s;
}

#main .chars:nth-child(4) {
  -webkit-animation-delay: 0.16s;
          animation-delay: 0.16s;
}

#main .main-img--parts {
  overflow: hidden;
}

#main .main-img--parts .main-img {
  position: absolute;
  top: 100px;
  left: 0;
  width: 150%;
  margin-left: auto;
}

@-webkit-keyframes sway {
  from {
    -webkit-transform: skew(-15deg) rotateX(10deg);
            transform: skew(-15deg) rotateX(10deg);
  }
  to {
    -webkit-transform: skew(15deg) rotateX(-10deg);
            transform: skew(15deg) rotateX(-10deg);
  }
}

@keyframes sway {
  from {
    -webkit-transform: skew(-15deg) rotateX(10deg);
            transform: skew(-15deg) rotateX(10deg);
  }
  to {
    -webkit-transform: skew(15deg) rotateX(-10deg);
            transform: skew(15deg) rotateX(-10deg);
  }
}

@-webkit-keyframes animate-chars {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes animate-chars {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

/* フッター */
#footer {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 500px;
  color: #420101;
}

/* PCメニュー */
@media screen and (min-width: 700px) {
  .sp-menu {
    display: none;
  }
  .pc-menu {
    display: initial;
  }
}
/*# sourceMappingURL=style.css.map */